---
import Layout from '../layouts/Layout.astro';
import fetchApi from '../lib/strapi';
import type { IAbout } from '../interface';

const page = await fetchApi<IAbout>({
  endpoint: 'about',
  wrappedByKey: 'data'
});

---

<Layout title="Welcome to Astro.">
	<main>
		
		<h1>My portfolio</h1>

    
    {page.attributes.content}
	
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
