---
import fetchApi from '../../lib/strapi';
import type { IUser } from '../../interface';

const { slug } = Astro.params;

let article: IUser;

try {
  article = await fetchApi<IUser>({
    endpoint: 'users',
    wrappedByList: true,
    query: {
      '': slug || '',
    },
  });
} catch (error) {
  return Astro.redirect('/404');
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{article.username}</title>
  </head>

  <body>
    <main>
      <!-- <img src={import.meta.env.STRAPI_URL + article.attributes.image.data.attributes.url} /> -->

      <h1>{article.email}</h1>

      <!-- Render plain text -->
      <p>{article.provider}</p>
      <!-- Render markdown -->
      <!-- <MyMarkdownComponent>
        {article.content}
      </MyMarkdownComponent> -->
    </main>
  </body>
</html>
